<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome in Bakery!!</h1>



<div style="display: flex; gap: 10px;">
    <form th:action="@{/bakery/available}" method="get">
        <button type="submit">Wyświetl tylko dostępne</button>
    </form>

    <form th:action="@{/bakery}" method="get">
        <button type="submit">Wyświetl wszystkie</button>
    </form>

    <form th:action="@{/bakery/cheaper-than}" method="get">
        <input type="number" name="price" placeholder="Price">
        <button type="submit">Show cheaper than</button>
    </form>

</div>



<p>====================</p>

<table border="1">
    <tr>
        <th>Nr</th>
        <th>Name</th>
        <th>Price</th>
        <th>Availability</th>
    </tr>
    <tr th:each="pastry : ${pastries}">
        <td th:text="${pastry.id}"></td>
        <td th:text="${pastry.name}"></td>
        <td th:text="${pastry.price}"></td>
        <td th:text="${pastry.available}"></td>
        <td>
            <form th:action="@{'/bakery/delete/' + ${pastry.id}}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Usuń</button>
            </form>

            <form th:action="@{'/bakery/edit/' + ${pastry.id}}" method="get">
                <button type="submit">Edytuj</button>
            </form>
        </td>
    </tr>
</table>

<p>====================</p>

<h2>Add new pastry: </h2>


<form th:action="@{/bakery/add-pastry}" th:object="${newPastry}" method="post">
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Price: <input type="text" th:field="*{price}"></p>
    <p>Availability: <input type="text" th:field="*{available}"></p>
    <p><input type="submit" value="Commit"></p>
</form>

</body>
</html>